name: Build pre-runner Docker Image

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        default: '16.x'
        type: string
      git-revision:
        required: false
        default: ${{ github.sha }}
        type: string


jobs:
  build-docker-prerunner-image:
    name: Build pre-runner docker image (Nodejs ${{ inputs.node-version }})
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.git-revision }}

      - name: Setup Nodejs ${{ inputs.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ inputs.node-version }}

      - name: Build image
        run: docker build -t scramjetorg/pre-runner:$(git rev-parse HEAD) .
        working-directory: packages/pre-runner

      - name: Export image
        run: >
          docker images |
          awk '/scramjet/{print $1,$2,$3}' |
          sed 's|/| |' |
          while read repo name tag id; do
            docker save $repo/$name:$tag -o $repo-$name-$tag-node-${{ inputs.node-version }}-docker-image.tar
          done

      - name: Zip image
        run: pigz *-docker-image.tar

      - name: Upload image as an artifact
        uses: actions/upload-artifact@v2
        with:
          name: pre-runner-image
          path: '*.tar.gz'
          retention-days: 1
